* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.site-header {
  font-family: 'Noto Sans', sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.thumbnail {
  width: 100%;
  height: 200px;
}

.thumbnail-info-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.grid-item {
  width: 100%;
  height: auto;
  border: 1px solid black;
}

.modal-image {
  width: 100%;
}

.my-form {
  width: 50%;
  margin: auto;
}

.req-text {
  color: red;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}